<!DOCTYPE html>
<html> <!-- opening text -->
<head>
  <title>LUCA GIORGIO PAOLETTI</title>
  <link rel="stylesheet" type="text/css" href="static/style.css"> <!-- it's a type of text and href is used to say where it is located -->
  <!-- visto che è nella stessa cartella scriviamo style.css -->
  <!-- rel is the relationship -->
</head>
<body>
  ABOUT ME
  <script src="static/script.js"></script> 
  <!-- the js file is usaully inserted in the body, in the script, src stands for source -->
</body>
</html> <!-- closing text, with / -->